
.star {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url('../../../assets/star/star.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.starhalf {
  background-image: url('../../../assets/star/star_1.png');
}

.starfull {
  background-image: url('../../../assets/star/star_2.png');
}
